@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --color1: #ffffff;
    --color2: #f3e6d8;
    --color3: #e4ded8;
    --color4: #5f574e;
    --color5: #302d2c;
    --color6: #854632;
    --color7: #7b284f;
    --color8: #fff5fa;

    --fontTitle: 'Young Serif', serif;
    --fontBody: 'Outfit', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-shadow: none;
}

body {
    background-color: var(--color2);
    padding: 50px;
    font-family: var(--fontBody);
    font-weight: 400;
    text-align: justify;
}

main {
    background-color: var(--color1);
    width: 50vw;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
}

img {
    width: 50vw;
    border-radius: 10px;
}

h1 {
    font-family: var(--fontTitle);
    font-weight: 500;
    padding: 20px 0px 10px 0px;
}

p {
    margin-bottom: 25px;
}

aside {
    background-color: var(--color8);
    width: 50vw;
    padding: 0px 0px 20px 0px;
    border-radius: 10px;
}

h2.prep {
    font-family: var(--fontBody);
    font-size: 18px;
    font-weight: 600;
    color: var(--color7);
    margin-left: 20px;
    padding-bottom: 10px;
}

ul.prep {
    margin-left: 40px;
}

ul.prep li {
    line-height: 1.8em;
    padding-left: 14px;
}

ul.prep li::marker {
    color: var(--color7);
    font-size: 0.8em;
}

h2 {
    font-family: var(--fontTitle);
    font-weight: 500;
    color: var(--color6);
    padding: 20px 0px 15px 0px;
}

ul, ol {
    margin-left: 25px;
    padding-bottom: 20px;
}

ul li {
    line-height: 1.8em;
}

ul li::marker {
    color: var(--color6);
    font-size: 0.8em;
}

ol li {
    padding-bottom: 10px;
}

ol li::marker {
    color: var(--color6);
    font-weight: 700;
}


